@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


.square {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    max-height:100px;
    min-width: 100px;
    min-height: 100px;
    border: 2px solid black;
    padding: 50px 0;
    font-size: 3rem;
}

#statusText {
    text-align: center;
}

#restartButton {
  border-radius: 40%;
  text-align: center;
}

.wholePage {
    background-color: rgb(160, 194, 251);
    font-family: 'Nova Square', sans-serif;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    margin: auto;
}