
.center-row {
    display: flex;
    justify-content: center;

}

.square {
    max-width: 100px;
    max-height:100px;
    min-width: 100px;
    min-height: 100px;
    border: 2px solid black;
    text-align: center;
    padding: 50px 0;
}

.upper-middle {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    
}

.right-middle {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    
}

.bottom-middle {
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    
}

.left-middle {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    
}

.restartButton {
  border-radius: 10%;
  align-content: center;
}

.wholePage {
    background-color: rgb(185, 232, 201);
}